.dashboard-container {
    padding: 20px;
    width: 100vw;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;

  }
  
  .dashboard-buttons {
    display: grid;
    gap: 20px;
    justify-content: center;
  }
  
  button {
    padding: 15px;
    background-color: #2e3061;
    width: 100%;
    color: rgb(132, 10, 10);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e5741e;
  }
  